# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Editors
# ==========================
.vscode/
.idea/

# Vim
*.swp

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Node.js
# ==========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
.venv/
venv/

# ==========================
# Java
# ==========================
*.class
*.jar
target/

# ==========================
# C / C++
# ==========================
*.o
*.obj
*.exe
*.out

# ==========================
# Build
# ==========================
dist/
build/

# ==========================
# Coverage
# ==========================
coverage/